h1, h2, h3, h4, h5, h6 {
  color: $color_text_title;
  font-family: $font_notosans_bold;
}

h1 {
  @include fontsize(23);
}

.page-title {
  margin-bottom: 60px;
  line-height: (70/40);
  span {
    display: block;
  }
}

h3 {
  line-height: (46/36)
}

h4 {
  @include fontsize(26);
}

@media ( min-width: 1367px ) {
  .page-title {
    @include fontsize(40);
    span {
      @include fontsize(25);
    }
  }
  h2 {
    @include fontsize(56);
  }
  h3 {
    @include fontsize(36);
  }
}

@media ( max-width: 1366px ) and ( min-width: 1024px ) {
  .page-title {
    @include fontsize(35);
    span {
      @include fontsize(20);
    }
  }
  h2 {
    @include fontsize(46);
  }
  h3 {
    @include fontsize(30);
  }
}

@media ( max-width: 1023px ) and ( min-width: 768px ) {
  .page-title {
    font-size: vw(40, 1480);
    margin-bottom: vw(60, 1480);
    span {
      font-size: vw(25, 1480);
    }
  }
  h2 {
    @include fontsize(38);
  }
  h3 {
    @include fontsize(25);
  }
}

@media ( max-width: 767px ) {
  .main-title {
    margin-top: vw(90, 767);
  }
  .page-title {
    font-size: vw(40, 767);
    margin-bottom: vw(60, 767);
    span {
      font-size: vw(25, 767);
    }
  }
  h2 {
    font-size: vw(48, 640);
  }
}