html, body {
  overflow-x: hidden;
  &.hidden {
    overflow: hidden;
  }
}
body {
  font-family: $font_default;
  @include fontsize($font_size);
  color: $color_text;
  line-height: (49/23);
  @media ( max-width: 1480px ) and ( min-width: 768px ) {
    font-size: vw($font_size, 1480);
  }
  @media ( max-width: 767px ) {
    font-size: vw($font_size, 740);
  }
}

img {
  max-width: 100%;
  vertical-align: middle;
}

p {
  margin: 0;
  &:not(:last-child) {
    margin-bottom: 60px;
    @media ( max-width: 1480px ) and ( min-width: 768px ) {
      margin-bottom: vw(60, 1480);
    }
    @media ( max-width: 767px ) {
      margin-bottom: vw(70, 640);
    }
  }
}

a {
  @include transition(0.3s);
  color: $color_link;
  &:hover {
    color: $color_link_hover;
  }
}

.form-check {
  position: relative;
  padding: 0;
  .form-check-input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    margin: 0;
    &:checked {
      +.form-check-label {
        &:before {
          opacity: 1;
        }
        &:after {
          border-color: $color_primary;
          background: $color_primary;
        }
      }
    }
  }
  .form-check-label {
    position: relative;
    padding-left: 25px;
    &:after, &:before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
      @include transition(0.3s);
    }
    &:before {
      content: '✓';
      font-size: 16px;
      color: #fff;
      left: 6px;
      z-index: 2;
      opacity: 0;
    }
    &:after {
      width: 24px;
      height: 24px;
      border: 1px solid $color_link;
      border-radius: 5px;
      left: 0;
    }
  }
}

.map-container {
  position: relative;
  height: 100%;
  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  @media ( max-width: 767px ) {
    padding-top: 70%;
  }
}

.wow {
  visibility: hidden;
}

.mCSB_inside {
  >.mCSB_container {
    margin-right: 15px;
  }
}
.mCS-dark {
  &.mCSB_scrollTools {
    opacity: 1;
    .mCSB_draggerContainer {
      left: auto;
      right: 0;
      width: 9px;
      background: #DADADA;
      border-radius: 5px;
      overflow: hidden;
    }
    .mCSB_draggerRail {
      background: #DADADA;
      width: 9px;
    }
    .mCSB_dragger {
      .mCSB_dragger_bar {
        width: 9px;
        border-radius: 5px;
      }
    }
  }
}

.mCustomScrollPrimary {
  .mCS-dark {
    &.mCSB_scrollTools {
      .mCSB_dragger {
        .mCSB_dragger_bar {
          background: $color_primary !important;
        }
      }
    }
  }
}

main {
  @media ( min-width: 1367px ) {
    margin-bottom: 210px;
  }
  @media ( max-width: 1366px ) and ( min-width: 1024px ) {
    margin-bottom: 160px;
  }
  @media ( max-width: 1023px ) and ( min-width: 768px ) {
    margin-bottom: 130px;
  }
  @media ( max-width: 767px ) {
    margin-bottom: vw(125, 640);
  }
}

.ani_basic {
  opacity: 0;
  transition: 2s;
  transition-duration: 1.2s;
  transition-delay: 0.5s;
  transform: scale(1.02, 1.02);
}

.ani_basic.on {
  opacity: 1;
  transform: scale(1,1);
}

@media ( min-width: 576px ) {
  .container {
    max-width: 100%;
    padding: 0 vw(35, 640);
  }
}

@media (min-width: 768px) {
  .container {
    width: 100%;
    max-width: 1560px;
    padding: 0 15px;
  }
  .sp-only {
    display: none;
  }
  .pc-text-right {
    text-align: right !important;
  }
}

@media ( max-width: 767px ) {
  .pc-only {
    display: none;
  }
  .img-sp-full {
    width: 100%;
  }
  .sp-text-center {
    text-align: center !important;
  }
}
